@import url(./zeroing.css);
body {
    font-family: 'Inter', sans-serif;
    background: black;
    color: white;
}

.container {
    height: 100vh;
    max-width: 428px;
    min-width: 320px;
}



/* Main */
.main {
     height: 604px;
    display: flex;
}

.main-column-production {
    width: 100%;
}

.event-title {
    margin: 27px 0 70px 0;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    font-family: "Aclonica";
    }
    .event-phone-number {
        font-family: 'Aclonica';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 28px; 
        text-align: center;
        margin-bottom: 36px;
    }
    .contact-phone-button {
        width: 215px;
        height: 40px;
        background: #DC0D0D;
        border-radius: 8px;
        font-family: 'Aclonica';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;
        display: block;
        margin: auto;
        margin-bottom: 107px;
        cursor: pointer; 
        border: none;      
    }
    .contact-phone-button:hover {
        animation: animation_button_hover 3s ease infinite;
    }
    .contact-mail {
        text-align: center;
        font-family: 'Aclonica';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 60px;
    }
    .contact-mail span {
        font-family: 'Aclonica';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-decoration-line: underline;
    }